---
import HomeFormComponent from "../components/HomeFormComponent";
import Layout from "../layouts/Layout.astro";
---

<!-- some html -->

<Layout title="Home">
  <h1>Home</h1>
  <HomeFormComponent client:load/>
</Layout>